In [5]:
n = int(input())
for i in range(1,n+1,3):
    if i == n:
        print(i,end='')
    else:
        print(i,end=',')

12
1,4,7,10,

In [1]:
count = 0
while True:
    n = int(input())
    count +=1
    if n == 5:
        break
print('you have found this number in',count,'iteration')

5
you have found this number in 1 iteration

In [9]:
for i in range(1,5):
    print(i*'*')

*
**
***
****

In [24]:
for j in range(9):
    for i in range(9):
        print('*',end='')
    print()

*********
*********
*********
*********
*********
*********
*********
*********
*********

In [29]:
for j in range(3):
    print('*')

*
*
*

In [31]:
for i in range(3):
    print('*',end=' ')

* * *

In [34]:
for j in range(3):
    for i in range(3):
        print('*')
    print()

*
*
*

*
*
*

*
*
*

In [35]:
for j in range(3):
    for i in range(3):
        print('*',end=' ')
    print()

* * *
* * *
* * *

In [78]:
n = int(input())
for i in range (1,n+1):
    for j in range(1,n+1): 
        print('*',end=' ')
    print()

3
* * *
* * *
* * *

In [11]:
for i in range(1,9,3):
    if i == 9:
        print(i,end='')
    else:
        print(i,end=',')

1,2,3,4,5,6,7,8,9

In [25]:
n = 18
reverse = 0
if n%10 == n:
    print(n)
else:    
    while n !=0:
        mod = n%10
        reverse=reverse*10+mod
        n //=10
    print(reverse)

81

In [29]:
for i in range(1):
    for j in range(2):
        for k in range(1):
            print("a", end="-")
        print(end="%")
    print("c")

a-%a-%c

In [27]:
for i in range(1):
    for j in range(2):
        for k in range(1):
            print("a", end=" ")
        print(end="")
    print("c")

a a c

In [33]:
n = int(input())
while n!=1:
    n -=1
    for i in range(1,n+1):
        print(i,end=' ')
    print()

5
1 2 3 4
1 2 3
1 2
1

In [13]:
n = int(input())
while n>=1:
    n-=1
    for i in range(n+1,1-1,-1):
        print (i,end=' ')
    print()

5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
n = int(input())
while n>=1:
    n-=1
    for i in range()

In [38]:
n = int(input())
for i in range(1,n+1):
    if i!=n:
        print('*')
        print()
    else:
        print('*')

4
*

*

*

*

In [41]:
n = int(input())
for i in range(1,n+1):
    if i!=n:
        if n-2 ==0:
            print('**')
        else:
            print('*  *')
        print()        
    else:
        print('*  *')

5
*  *

*  *

*  *

*  *

*  *

In [46]:
n = int(input())
for i in range(1,n+1):
    if i!=n:
        if n-2 ==0:
            print('**')
        else:
            print('**',sep=' ')
        print()        
    else:
        print('*  *')

5
*,*

*,*

*,*

*,*

*  *

In [50]:
n = int(input())
for i in range(n,0,-1):
    for j in range (1, i+1):
        print(j, end='')
    print()

5
12345
1234
123
12
1

In [51]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n+1):
        if j>=i:
            print('*',end='')
    print()

5
*****
****
***
**
*

In [3]:
t = int(input())
while t>=1:
    t-=1
    n1 = int(input())
    n2 = int(input())
    n = min(n1,n2)
        
    for i in range(1,n+1):
        if (n1%i==0) and (n2%i==0):
            gcd = i
    print(gcd)

1
8
6
2

### New Problem

In [16]:
n = int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        if j==i:
            print(j,end='')
        else:
            print(j,end=' ')
    print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### New Problem

In [20]:
n = int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        if j%2==0:
            print(j,end=' ')
        else:
            print('*',end=' ')
    print()

5
*
* 2
* 2 *
* 2 * 4
* 2 * 4 *

### New Problem

In [4]:
for i in range(4,2,-1):
    print(i)

4
3

In [2]:
n = int(input())
for i in range(1,n+1):
    for j in range(n,i-1,-1):
        print('*',end=' ')
    print()

4
* * * *
* * *
* *
*

In [25]:
n = int(input())
for i in range(n,0,-1):
    for j in range (1, i+1):
        print('*', end=' ')
    print()

5
* * * * *
* * * *
* * *
* *
*

In [30]:
n = int(input())
for i in range(n,0,-1):
    print('* '*i)

5
* * * * *
* * * *
* * *
* *
*

### New Problem

In [41]:
n = int(input())
for i in range(1,n+1):
    print('*','*',sep=' '*(n-2))

4
*  *
*  *
*  *
*  *

In [42]:
n=int(input())
for r in range(1,n+1):
    for star in range(1):
        print("*",end="")
    for space in range(n-2):
        print(" ",end="")
    for star in range(1):
        print("*",end="")
    print()

4
*  *
*  *
*  *
*  *

### New Problem

In [59]:
n = int(input())
for i in range(n,0,-1):
    print(' '*(n-i),'*'*(i),sep='')

5
*****
 ****
  ***
   **
    *

In [77]:
n = int(input())
for i in range(1,n+1):
    for j in range(0,i-1):
        print(' ',end='')
    for k in range(n-i+1):
        print('*',end='')
    print()

5
*****
 ****
  ***
   **
    *

### New Problem

In [70]:
n = int(input())
for i in range(1,n+1):
    for star in range(i):
        print('*',end='')
    for space in range(n-i):
        print(' ',end='')
    for space in range(n-i):
        print(' ',end='')
    for star in range(i):
        print('*',end='')
    print()

5
*        *
**      **
***    ***
****  ****
**********

### New Problem

In [73]:
N=int(input())

for i in range(1,N+1):
    for j in range(1,i+1):
        print("*",end="")
    print()
   
for i in range(1,N):
    for j in range(1,N-i+1):
        print("*",end="")
    print()

5
*
**
***
****
*****
****
***
**
*

### New Problem

In [74]:
n = int(input())
for i in range(n,0,-1):
    for j in range(1,i+1):
        print('*',end='')
    for k in range(n-i):
        print(' ',end='')
    for l in range(n-i):
        print(' ',end='')
    for m in range(1,i+1):
        print('*',end='')
    print()

5
**********
****  ****
***    ***
**      **
*        *

In [76]:
n = int(input())
for i in range(n,0,-1):
    print('*'*i,' '*2*(n-i),'*'*i,sep='')

5
**********
****  ****
***    ***
**      **
*        *

### New Problem

In [75]:
n = int(input())
for i in range(1,n+1):
    for star in range(i):
        print('*',end='')
    for space in range(n-i):
        print(' ',end='')
    for space in range(n-i):
        print(' ',end='')
    for star in range(i):
        print('*',end='')
    print()

5
*        *
**      **
***    ***
****  ****
**********

In [80]:
n = int(input())

for i in range(n,0,-1):
    if i==n:
        print('*'*n)
    elif i==1:
        print('*'*i)
    else:
        print('*'+' '*(i-2)+'*')

6
******
*   *
*  *
* *
**
*

In [83]:
i=1
cal=0

while i<=7:
  cal=cal+i
  print(cal**2)
  i+=1
  if cal>=21:
    break

1
9
36
100
225
441

In [90]:
step=0

for i in range (1,7):
    step=step+i
    print(step**2,i,step)
    if step >=21:
        break

1 1 1
9 2 3
36 3 6
100 4 10
225 5 15
441 6 21

### is prime

In [107]:
n = int(input())
if n>1:
    for i in range(2,int(n/2)+1):
        if n%i==0:
            print('NO')
            break
    else:
        print('YES')
else:
    print('NO')

868725
NO

### print prime

In [119]:
n = int(input())
for j in range(1,n+1):
    if j>1:
        for i in range(2,int(j/2)+1):
            if j%i==0:
                break
        else:
            print(j)

11
2
3
5
7
11

### Perfect Numbers

In [114]:
A = int(input())
for i in range(1,A):
    total = 0
    for j in range(1,i):
        if i%j==0:
            total = total+j
    if total == i:
        print(i)

912
6
28
496

### Reduce the num

In [118]:
n = int(input())
count=0
while n!=0:
    if n%2==0:
        n = n/2
        count +=1
    else:
        n -=1
        count+=1
print(count)

123
12

### Sum the digit

In [128]:
t = int(input())
while t>0:
    t-=1
    n = input()
    total=0
    for i in (n):
        total+=int(i)
print(total)

1
1589
23

In [129]:
t= int(input())
while t>0:
    t-=1
   
    n = int(input())
    total = 0
    while n>0:
        total += n%10
        n=n//10
    print(total)

1
0
0

In [132]:
2%1

0